.container {
  display: flex;
  flex-direction: row; /* row, row-reverse, column, column-reverse */
  flex-wrap: nowrap; /* nowrap, wrap, wrap-reverse */
  width: 600px;
  margin-bottom: 1rem;
  border: 2px dashed #999;
}
.item {
  background-color: #2196f3;
  color: white;
  padding: 20px;
  margin: 5px;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
}
